#skillsContainer {
  padding: 100px 0;
  background-color: $tertiary;
  text-align: center;

  h2 {
    padding-bottom: 50px;
    color: $blackText;
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      list-style: none;
      padding: 25px;

      i {
        font-size: 5rem;
        color: $blackText;
      }

      h4 {
        text-transform: uppercase;
        padding-top: 15px;
        color: $blackText;
        font-size: 0.8rem;
      }
    }
  }
}