// colours!!!

$solidWhite: #fff;
$blackText: #222527;
$primary: #424B6D;
$secondary: #5169BD;
$tertiary: #CAD2EC;
$offWhite: #F2F4F5;
$accent: #EEAF98;


    // font-family: 'Playfair Display',
    // serif;
    
    // font-family: 'Source Sans Pro',
    // sans-serif;